/*
  CSS File
*/

/*
 VARIABLES
*/
:root {
  /* Core colours */
  /* https://coolors.co/palette/e63946-f1faee-a8dadc-457b9d-1d3557 */
  --colour-amaranth: #e63946;
  --colour-peppermint: #f1faee;
  --colour-aquaisland: #a8dadc;
  --colour-wedgewood: #457b9d;
  --colour-cello: #1d3557;

  /* Header configuration */
  --header-heading-colour: var(--colour-peppermint);

  /* Body configuration */
  --body-default-colour: var(--colour-cello);
  --body-background-colour: var(--colour-peppermint);

}

/*
  PAGE / BODY
*/
/**** Add your styles here ****/

/* General/Default Styles */

/* colour scheme #68ABEA, #F2F2F2, #0E2D40*/

.page {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  min-width: 100%;
  min-height: 100%;
  font-size: 20px;
  padding-top:50px;
  /* Flex directives */
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  justify-content: space-between;
  background-color: #0E2D40;
  list-style: none;
}

button{
  max-width: 1500px;
  border: none;
  background-color: #1d3557;
  text-overflow:inherit;
  color: #f1faee;
  padding: 10px;
  border-radius: 500px;
  text-decoration: none;
  justify-content:center;
  word-break: break-word;
}

button:hover{
  max-width: 1500px;
  background-color: #3a4f6d;
}

.buttonlate{
  max-width: 1500px;
  border: none;
  padding: 10px;
  background-color: #a70513;
  color: #f1faee;
  text-decoration: none;
  border-radius: 50px;
}

.buttonlate:hover{
  max-width: 1500px;
  background-color: #ca2800;
}

input{
  background-color: #bdd7fc;
  border-color: #0c1829;
  border-radius: 20px;
  resize: none;
}

input:hover{
  background-color: #e5eefa;
  border-color: #0c1829;
  border-radius: 20px;
  resize: none;
}

label{
  padding-bottom: 20px;
}

/* Header uls */



/*
  Main and flex boxes
*/

main {
  padding: 100px 50px;
  background-color: #0E2D40;
  color: #F2F2F2;
  
  /*box-shadow: #315a72 0px 8px 40px;*/
}

/* flex box 1 formatting */

 ul.todo-items {
  
  background-color: #68ABEA;
  border-radius: 20px;
  padding: 20px;
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}

ul.noliststyle{
  
  list-style: none;
}

ul.add-todo{
  list-style: none;
}


body {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f1faee;
  min-height: 100%;
  min-width: 100%;
}